.Rproj.user
.Rhistory
.RData
*.RData
.Ruserdata
.DS_Store
*.mdb
*.jpg
*.png


*.zip

_archive
Output
Data
Output/ssm plots/keep/weaner tracks - mq3 mq4.zip
Data/mq-ellie-weaners-dive.csv
Writing
Grants
Meetings
Papers
Reisinger pseudo track code